test-shell/sh-in
test-shell/sh-out
test-shell/bgfile
test-shell/csh-in
test-shell/csh-out
test-shell/out
test-shell/out1
test-shell/out2
test-shell/shell-in
test-shell/shell-out
test-shell/err1
test-shell/err2
test-shell/file-list
test-shell/files/*
*.o
lex.yy.cc
lex.yy.o
y.tab.cc
y.tab.hh
y.tab.o
